<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>
        {{#ifeq lootsheettype "Loot"}}
        {{#if lootAll}}
        <div class="charbutton">
            <button type="button" class="loot-all" name="loot-all" value="1"><i class="fas fa-gem"></i> Loot All</button>
        </div>
        {{/if}}
        {{/ifeq}}
        {{#if isGM}}
        {{#ifeq lootsheettype "Merchant"}}
        <div class="charbutton">
            <button type="button" class="price-modifier" type="price-modifier" name="price-modifier" value=""><i class="fa fa-balance-scale"></i> Price Modifier</button>
        </div>
        {{/ifeq}}
        {{/if}}
    </header>
    <section class="sheet-lower flexrow">
        <section class="sheet-sidebar sidebar">
            <div class="sheet-profile-img">
                <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
            </div>
            {{#if isGM}}
            <h3 class="gm-section">GM Settings</h3>
            <div class="gm-settings" data-group="sidebar" data-tab="gm-settings">
                <h3 class="gm-header"><i class="fas fa-id-card"></i> Type <i class="fas fa-info-circle help" onclick="$('.sheet-type-info').toggle();"></i></h3>
                <div class="sheet-type-info">Loot: allows for distribution of coins across players<br>Merchant: allows players to purchase items directly from the sheet.</div>
                <div class="sheet-types">
                    <div class="flexrow">
                        <div class="flexcol"><h4 class="sheet-name">Type of sheet: </h4></div>
                        <div class="flexcol">
                            <select class="sheet-type" name="data.flags.lootsheetnpc5e.lootsheettype">
                                {{#select data.flags.lootsheetnpc5e.lootsheettype}}
                                <option value="Loot">Loot</option>
                                <option value="Merchant">Merchant</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
                <h3 class="gm-header"><a class="permission-proficiency-bulk" title="{{actor.flags.loot.playersPermissionDescription}}">{{{actor.flags.loot.playersPermissionIcon}}}</a> Permissions <i class="fas fa-info-circle help" onclick="$('.permission-info').toggle();"></i></h3>
                <input type="hidden" name="actor.flags.loot.playersPermission" value="{{actor.flags.loot.playersPermission}}" data-dtype="Number"/>
                <div class="permission-info">Ensure players have selected a character via the Player Configuration (right-click player in bottom left) menu.</div>
                <ol class="permissions-list">
                    {{#each actor.flags.loot.players as |player p|}}
                    <li class="permission" data-skill="{{p}}">
                        <input type="hidden" name="{{player.playerId}}" value="{{player.lootPermission}}" data-dtype="Number" actor="{{player.actorId}}"/>
                        <a class="permission-proficiency" title="{{player.lootPermissionDescription}}">{{{player.icon}}}</a>
                        <h4 class="permission-name">{{player.actor}} ({{player.name}})</h4>
                    </li>
                    {{/each}}
                </ol>
                {{#ifeq lootsheettype "Merchant"}}
                <h3 class="gm-header"><i class="fas fa-balance-scale"></i> Merchant Settings <i class="fas fa-info-circle help" onclick="$('.merchant-settings-info').toggle();"></i></h3>
                <div class="merchant-settings-info">Replace this merchant's inventory with a random number of items from a Rollable Table. Specify the Rollable Table's name, along with how a formula for how many different items to add (Shop Qty Formula), and a formula for determining how many of each item t
                    o add (Item Qty Formula).
                </div>
                <div class="merchant-settings">
                    <div class="flexrow">
                        <div class="flexcol"><h4>Rollable Table: </h4></div>
                        <div class="flexcol">
                            <select class="sheet-rolltable" name="data.flags.lootsheetnpc5e.rolltable">

                                {{#select data.flags.lootsheetnpc5e.rolltable}}
                                <option value=""></option>
                                {{#each rolltables as |table i|}}
                                <option value="{{table.name}}">{{table.name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol"><h4>Shop Qty Formula: </h4></div>
                        <div class="flexcol"><input name="data.flags.lootsheetnpc5e.shopQty" type="text" data-dtype="String" placeholder="e.g. 1d20" value="{{data.flags.lootsheetnpc5e.shopQty}}"/></div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol"><h4>Item Qty Formula: </h4></div>
                        <div class="flexcol"><input name="data.flags.lootsheetnpc5e.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4" value="{{data.flags.lootsheetnpc5e.itemQty}}"/></div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol"><h4>Limit Qty: </h4></div>
                        <div class="flexcol"><input name="data.flags.lootsheetnpc5e.itemQtyLimit" type="text" data-dtype="String" placeholder="e.g. 10" value="{{data.flags.lootsheetnpc5e.itemQtyLimit}}"/></div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol"><h4>Clear Inventory: </h4></div>
                        <div class="flexcol"><input name="data.flags.lootsheetnpc5e.clearInventory" type="checkbox" data-dtype="boolean" {{#if data.flags.lootsheetnpc5e.clearInventory}}checked{{/if}}/></div>
                    </div>
                </div>
                <button type="button" class="update-inventory" type="update-inventory" name="update-inventory" value="1"><i class="fas fa-balance-scale"></i> Update Shop Inventory</button>
                {{/ifeq}}
            </div>
            {{/if}}
            {{#ifeq lootsheettype "Loot"}}
            <h3 class="gm-header"><i class="fas fa-coins"></i> Coin Distribution</h3>
            <ol class="coins-list">
                {{#each actor.flags.loot.currency as |c i|}}
                <li class="denomination {{i}}">
                    <label>{{ lookup ../config.currencies i }}:</label>
                    <span class="denomination-value">{{c.value}} each</span>
                </li>
                {{/each}}
            </ol>
            <button type="button" class="split-coins" type="split-coins" name="split-coins" value="1"><i class="fa fa-coins"></i> Split {{actor.flags.loot.observerCount}} Ways</button>
            {{/ifeq}}
        </section>
        <section class="sheet-content content">
            <nav class="sheet-navigation tabs" data-group="primary">
                <a class="item active" data-tab="inventory">Inventory</a>
                <a class="item" data-tab="biography">Biography</a>
            </nav>
            <section class="sheet-body">
                <div class="tab" data-tab="biography" data-group="primary">
                    {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
                </div>
                <div class="tab" data-tab="inventory" data-group="primary">
                    <div class="features" data-group="primary" data-tab="features">
                        <div class="inventory-filters">
                            <ol class="currency flexrow">
                                <span style="flex: 0 0 60px;"><h3>
                                    Currency
                                </h3></span>
                                {{#each data.currency as |c i|}}
                                <span>
                                    <label class="denomination {{i}}">{{ lookup ../config.currencies i }}</label>
                                    <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
                                </span>
                                {{/each}}
                                {{#ifeq lootsheettype "Loot"}}
                                {{#if lootCurrency}}
                                <div class="item-controls">
                                    <a class="currency-loot" title="Loot Coins"><i class="fas fa-gem"></i></a>
                                </div>
                                {{/if}}
                                {{/ifeq}}
                            </ol>
                            <ol class="currency inventory flexrow">
                                <span style="flex: 0 0 60px;"><h3>Totals</h3></span>
                                <span><label>Items</label> <span>{{totalItems}}</span></span>
                                <span><label>Quantity</label> <span>{{totalQuantity}}</span></span>
                                <span><label>Weight</label> <span>{{totalWeight}}</span></span>
                                <span><label>Value</label> <span>{{totalPrice}}</span></span>
                            </ol>
                        </div>
                        <div class="header-details flexrow">
                            <ul class="items-list inventory-list">
                                {{#each actor.features as |section sid|}}
                                {{#if section.items}}
                                <li class="items-header flexrow inventory-header">
                                    <h3 class="item-name">{{section.label}}</h3>
                                    {{#if ../owner}}
                                    <div class="item-controls">
                                        <a class="item-control item-create" title="Create Item" data-type="{{section.type}}">
                                            <i class="fas fa-plus"></i> Add
                                        </a>
                                    </div>
                                    {{/if}}
                                </li>
                                <ol class="item-list">
                                    {{/if}}
                                    {{#each section.items as |item iid|}}
                                    <li class="item flexrow" data-item-id="{{item._id}}">
                                        <div class="item-name flexrow rollable">
                                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                                            <h4>
                                                {{item.name}}
                                            </h4>
                                        </div>
                                        <div class="item-quantity">
                                            <i class="fas fa-box" title="Quantity"></i> {{item.data.quantity}}
                                        </div>
                                        <div class="item-weight">
                                            <i class="fas fa-weight-hanging" title="Weight"></i> {{lootsheetweight item.data.weight}}{{lootsheetstackweight item.data.weight item.data.quantity}}
                                        </div>
                                        <div class="item-price">
                                            <i class="fas fa-coins" title="Price (in gp)"></i> {{ lootsheetprice item.data.price ../../priceModifier }}
                                        </div>
                                        <div class="item-controls">
                                            {{#ifeq ../../lootsheettype "Loot"}}
                                            <a class="item-control item-lootall" title="Loot Stack"><i class="far fa-gem"></i></a>
                                            <a class="item-control item-loot" title="Loot Item"><i class="fas fa-gem"></i></a>
                                            {{/ifeq}}

                                            {{#ifeq ../../lootsheettype "Merchant"}}
                                            <a class="item-control item-buyall" title="Buy Stack"><i class="fas fa-coins"></i></a>
                                            <a class="item-control item-buy" title="Buy Item"><i class="fas fa-dollar-sign"></i></a>
                                            {{/ifeq}}

                                            {{#if ../../owner}}
                                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            {{/if}}
                                        </div>
                                    </li>
                                    {{/each}}
                                </ol>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</form>
